<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::title},~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>posts_update</title>
</head>
<body>
<main>
    <h1>게시글</h1>
    <div class="text-end">
        <a href="/" role="button" class="btn btn-outline-secondary btn-sm">목록</a>
        <a th:href="@{/posts/update2/{id}(id=${post.id})}" role="button" class="btn btn-outline-secondary btn-sm">수정</a>
<!--        <input class="btn btn-outline-secondary btn-sm" type="button" value="수정" onclick="main.updateForm()">-->
<!--        <input class="btn btn-outline-secondary btn-sm" type="button" value="삭제" @click="delPosts()">-->
        <button type="button" class="btn btn-outline-secondary btn-sm" id="btn-delete" onclick="main.delete()">삭제</button>
    </div>
    <br>
    <br>
    <div th:object="${post}">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>번호</th>
                    <td th:text="*{id}">{{items.id}}</td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td th:text="*{author}">{{items.author_name}}</td>
                </tr>
                <tr>
                    <th>작성일자</th>
                    <td th:text="*{modifiedTime}">{{items.dt_created}}</td>
                </tr>
            </tbody>
        </table>
        <form>
<!--            <div class="form-group">-->
<!--                <label for="id">글 번호</label>-->
<!--                <input type="text" class="form-control" th:field="*{id}" readonly>-->
<!--            </div>-->
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" th:field="*{title}" readonly style="background-color: #e1e4ee;">
            </div>
<!--            <div class="form-group">-->
<!--                <label for="author"> 작성자 </label>-->
<!--                <input type="text" class="form-control" th:field="*{author}" readonly>-->
<!--            </div>-->
            <div class="form-group">
                <label for="content"> 내용 </label>
                <textarea class="form-control" th:field="*{content}" readonly style="background-color: #e1e4ee; height: 15em;"></textarea>
            </div>
        </form>
    </div>
<!--            <a href="/" role="button" class="btn btn-secondary">취소</a>-->
<!--            <button type="button" class="btn btn-primary" id="btn-update" onclick="main.update()">저장하기</button>-->
<!--            <button type="button" class="btn btn-danger" id="btn-delete" onclick="main.delete()">삭제</button>-->
</main>
</body>
</html>